media/CLASSLA-web-video-presentation.mp4
urls/CLASSLA-web.bg.1.0.urls.zip
urls/CLASSLA-web.bg.2.0.urls.zip
urls/CLASSLA-web.bs.1.0.urls.zip
urls/CLASSLA-web.bs.2.0.urls.zip
urls/CLASSLA-web.cnr.1.0.urls.zip
urls/CLASSLA-web.cnr.2.0.urls.zip
urls/CLASSLA-web.hr.1.0.urls.zip
urls/CLASSLA-web.hr.2.0.urls.zip
urls/CLASSLA-web.mk.1.0.urls.zip
urls/CLASSLA-web.mk.2.0.urls.zip
urls/CLASSLA-web.sl.1.0.urls.zip
urls/CLASSLA-web.sl.2.0.urls.zip
urls/CLASSLA-web.sr.1.0.urls.zip
urls/CLASSLA-web.sr.2.0.urls.zip
urls/create-final-files.ipynb